configuration {
    modi: "drun,window";
    disable-history: true;
    sort: true;   
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "xfce4-terminal";
    drun-display-format: "{name}";
    location: 0;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-window: "   Window";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"

window {
    border-color: #89b4fa;
    location: center;   
    border: 2px;
    border-radius: 12px;
}

